@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/status";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.container {
  @apply max-w-[1542px];
}
.sidebar {
  @apply w-0 overflow-y-scroll md:w-[308px] h-full fixed left-0 z-10 top-0 bg-[#212121] transition-all duration-300;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.content {
  @apply  md:pl-[308px] transition-all duration-300;
}

.ant-notification-notice-message {
  margin-bottom: 0 !important;
}

.multi {
  .ant-select-selector {
    min-height: 38px !important;
    border-radius: 4px !important;
  }
}

.ant-form-item-label {
  label {
    @apply text-sm font-medium text-gray-700 #{!important};
  }
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  ):before {
  display: none !important;
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  ):after {
  display: inline-block;
  margin-left: 4px;
  margin-top: 2px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 1;
  content: "*";
  visibility: visible;
}
.resetpass {
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    ):after {
    display: inline-block;
    margin-left: 4px;
    margin-top: 2px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: Inter, sans-serif;
    line-height: 1;
    content: "*";
    visibility: visible;
    display: none;
  }
}

.form-input {
  @apply block w-full outline-0 border border-gray-300 rounded-md shadow-sm focus:border-primary px-3 py-2;
}

.ant-select {
  min-height: 40px;
}

// .ant-select-selector {
//   @apply block w-full outline-0 border border-gray-300 rounded-md shadow-sm focus:border-primary px-3 py-1 #{!important};
//   min-height: 40px;
// }

.ant-select-borderless {
  .ant-select-selector {
    border-color: #d1d5db; // Equivalent to Tailwind's border-gray-300
    &:focus {
      border-color: #6366f1; // Equivalent to Tailwind's border-indigo-500
    }
  }
}

.ant-picker {
  width: 100%; // Equivalent to Tailwind's w-full
  border-radius: 0.375rem; // Equivalent to Tailwind's rounded-md
  outline: 0;
  box-shadow: none; // Equivalent to Tailwind's shadow-none
  border-color: #d1d5db; // Equivalent to Tailwind's border-gray-300
  &:focus {
    border-color: #6366f1; // Equivalent to Tailwind's border-indigo-500
  }
  &:hover {
    border-color: #d1d5db; // Equivalent to Tailwind's hover:border-gray-300
  }
  min-height: 40px;
  @apply focus:border-primary;
}

.ant-select-arrow {
  margin-top: 0.5rem; // Equivalent to Tailwind's mt-2
}

.ant-form-item-explain-error {
  font-family: "Inter", sans-serif; // Equivalent to Tailwind's font-inter
  font-size: 0.75rem; // Equivalent to Tailwind's text-xs
  color: #ef4444; // Equivalent to Tailwind's text-red-500
  margin: 0.25rem 0; // Equivalent to Tailwind's my-1
}

.ant-modal-content {
  border-radius: 0.375rem; // Equivalent to Tailwind's rounded
}

.ant-modal-header {
  color: #4a5568; // Equivalent to Tailwind's text-gray-700
  margin-bottom: 1rem; // Equivalent to Tailwind's mb-4
}
::-webkit-scrollbar {
  width: 2px !important;
}

.sidebar.open {
  @apply w-full md:w-[320px] #{!important};
}

.ant-badge-dot {
  width: 15px !important;
  height: 15px !important;
  background: #e13030 !important;
  border: 2px solid white !important;
}

.ant-progress-bg {
  background-color: #f8991f !important;
}
.ant-progress-outer {
  width: 80% !important;
}
.ant-progress {
  width: 61% !important;
}
.search_input {
  .ant-input-affix-wrapper-lg {
    padding: 15px 9px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
    background-color: #f7f8f9;
    border: none !important;
    border-width: 0px;
    border-style: none;
    border-color: #ffffff00;
    outline: none !important;
    box-shadow: none !important;
  }
}
.selector-arrow {
  .ant-input-prefix svg {
    color: #f8991f;
  }
  .ant-select-selector {
    border: 1px solid #e4e4e4 !important;
    outline: none !important;
    border-color: #ffffff00;
    outline: none !important;
    box-shadow: none !important;
    :focus {
      border: none !important;
    }
  }
}

.ant-modal-footer {
  @apply hidden #{!important};
}
.ant-modal-close {
  @apply hidden #{!important};
}
.ant-modal-close-icon {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  @apply hidden #{!important};
}
.gender {
  .ant-select-selection-item {
    color: #ef4444 !important;
  }
}

.upload {
  .ant-upload-drag {
    @apply border-none #{!important};
  }
}

.ant-upload-select,
.ant-upload-list-item-container {
  @apply w-full md:w-[130px] h-[172px] md:h-[130px]  #{!important};
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  @apply text-[#030303] lg:text-xl text-sm font-roboto  py-[24px] border-b border-[#030303] border-opacity-10 #{!important};
}
// .ant-table-wrapper .ant-table-thead > tr > td {
//   font-size: 20px;
//   color: #030303 !important;
// }
.ant-table-thead {
  @apply lg:text-xl text-base   font-roboto #{!important};
}
.ant-table-cell {
  @apply whitespace-nowrap #{!important};
}
.ant-table-thead > tr > th {
  @apply bg-[#F1EEFF] py-[11px]  #{!important};
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  display: none !important;
}
// .ant-table-thead .ant-table-cell{
//   @apply bg-[#F1EEFF] py-[11px] border  rounded-lg #{!important};
// }
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  @apply rounded-s-[6px];
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  @apply rounded-e-[6px];
}
.ant-form-vertical .ant-form-item-label > label {
  @apply text-[#030303]/40 text-2xl  #{!important};
}
.ant-form-item-label {
  @apply mt-[-15px] #{!important};
}

.ant-segmented .ant-segmented-item-label {
  @apply py-[2px] px-[16px] #{!important};
}
.ant-segmented .ant-segmented-group {
  @apply p-[10px] bg-[#F1EEFF] #{!important};
}
.ant-segmented .ant-segmented-item-selected {
  @apply bg-primary text-white #{!important};
}

// .ant-segmented .ant-segmented-group
.ant-segmented-item {
  @apply overflow-hidden #{!important};
}

:where(.css-dev-only-do-not-override-mzwlov).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  @apply text-[#7655FA] font-semibold bg-[#F1EEFF] #{!important};
}
:where(
    .css-dev-only-do-not-override-mzwlov
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-mzwlov
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  @apply text-xl w-[70px] #{!important};
}

.ant-upload-list-item-name {
  @apply text-2xl font-medium #{!important};
}
.ant-image-mask-info {
  display: none !important;
}

.ant-picker-panel-container{
  @apply w-[300px] lg:w-[580px] h-[240px] lg:h-[300px] text-[10px] lg:text-[15px] p-0 flex-none absolute  z-50 -left-7 lg:-left-[200px] 2xl:-left-[50px]  #{!important}
}


.shadows{
  box-shadow: 1px 1px 5px 0.3px rgb(199, 197, 197) ;
}



